*,
*::before,
*::after {
  box-sizing: content-box;
}

h1 {
  color: blue;
  font-style: italic;
  font-size: 70px;
}

h2 {
  color: red;
  font-size: 40px;
}

p {
  color: greenyellow;
  font-size: 20px;
}

h3 {
  color: aqua;
  font-size: 40px;
}

h4 {
  color: violet;
  font-size: 40px;

}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: sans-serif;
}


#kind {
  color: chocolate;
  font-size: 40px;

}